.home-container{
    display: flex;
    flex-direction: row;
    margin: 40px;
    margin-top: 120px;
    justify-content: space-evenly;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.socials{
    display: flex;
    gap: 10px;
    size: 20px;
    border: 1px solid #dddddd;
    border-radius: 100px;
    padding: 0px 10px;
    margin: 10px;
    align-items: center;
    justify-content: center;
}
.icon-link{
    text-decoration: none;
    color: inherit;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-icon{
  font-size: 30px;
  cursor: pointer;
  margin: 10px 10px;
  transition: transform 0.3s ease;
}
.social-icon:hover{
    transition: transform 0.3s ease;
    transform: scale(1.3);
}
.user-card{
    /* background-color: #E0FBE2; */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    width: 100%;
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); */
}
.profile-img{
    width: 20%;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
}
.myname{
    color: black;
    color: #374151;
    font-size: 30px;
    font-weight: 500;
    padding: 6px;
    /* font-family: 'Google Sans Display', sans-serif; */
}
.rectangle{
    background-color: blueviolet;
    width: 100px;
    height: 3px;
    margin-top: -10px;
    border-radius: 20px;
}
.developer{
    color: black;
    margin-top: -10px;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 4px;
}
.social-handle{
    color: black;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.react-icons-home,.r-icon-home {
    vertical-align: middle;
    width: 25px; 
    height: auto; 
    margin: 0;
    transition: transform 0.3s ease;
    margin: 0 -100px;
    text-decoration: none;
    color: inherit;
}
.react-icons-home:hover,.r-icon-home:hover{
    transform: scale(1.2);
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}
.namaste{
    font-size: 100px;
    font-weight: 500;
    margin-left: 0px;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
.namaste::after{
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

/* animation start */

  
  
  

   /* animation end */



.sub-head{
    color: black;
    font-size: 25px;
    font-weight:400;
    margin-top:0px;
    margin-bottom: 20px;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 14px;
    padding: 10px;
    width: 120px;
    border: none;
    color: white;
    background-color: #31363F;
    /* background-color:  #374151; */
    border-radius: 50px;
    cursor: pointer;
    margin: 10px 0;
    font-weight: 700;
    transition: background-color 0.5s ease, color 0.5s ease;
    transition: translate 0.5s ease, color 0.5s ease;
}
.btn:hover{
    transition: background-color 0.5s ease, color 0.5s ease;
    color: white;
    box-shadow:0px 4px 8px rgba(0, 0, 0, 0.3);
    translate: 0px -2px;
    transition: translate 0.5s ease, color 0.5s ease;
}
.para{
    color: black;
    /* text-align: left; */
    font-size: 20px;
    font-weight: 300;
    line-height: 1.8;
    text-align: start;
    font-weight: 400;
    /* background-color: #f0f0f0; */
    padding: 20px 40px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
    border-radius: 20px;
    border: 1px solid #e0e0e0;
}

.flag{
    width: 30px;
}

.text {
    width: 100%;
    height: 100%;
    display: flex;
    opacity: 1;
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  
  .fade-out {
    opacity: 0;
    transform: translateY(-100%);
  }


  .programming-box{
    margin-top: 10px;
    margin-bottom: 60px;
    /* background-color: rgb(223, 160, 160); */
    /* padding: 40px 40px; */
    width: 100%;
    height: auto;
    /* box-shadow: 0 0 30px rgba(0, 0, 0, 0.1); */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    /* border: 1px solid #dddddd; */
    border-radius: 20px;
    padding: 60px 100px;
    padding-top: 20px;
}



/* :root {
    --send-bg: #0B93F6;
    --send-color: white;
    --receive-bg: #E5E5EA;
    --receive-text: black;
    --page-background: white;
  }

p {
    max-width: 255px;
    word-wrap: break-word;
    margin-bottom: 12px;
    line-height: 24px;
    position: relative;
      padding: 10px 20px;
    border-radius: 25px;
    
    &:before, &:after {
      content: "";
          position: absolute;
      bottom: 0;
      height: 25px;
    }
  }
  
  .send {
      color: var(--send-color); 
      background: var(--send-bg);
      align-self: flex-end;
          
      &:before {
          right: -7px;
      width: 20px;
      background-color: var(--send-bg);
          border-bottom-left-radius: 16px 14px;
      }
  
      &:after {
          right: -26px;
      width: 26px;
      background-color: var(--page-background);
          border-bottom-left-radius: 10px;
      }
  } */



@media only screen and (max-width: 600px){
    .home{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* background-color: chocolate; */
        padding: 0;
    }
    .home-container{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        /* margin-bottom: 20px; */
        /* height: 100vh; */
        /* background-color: blueviolet; */
    }
    .user-card{
        /* background-color: #FAF1E4; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
        width: 90%;
        /* background-color: aqua; */
        /* box-shadow: 0 0 50px rgba(0, 0, 0, 0.3); */
    }
    .user-info{
        width: 90%;
        margin: 20px;
        margin-bottom: 100px;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
    }
    .profile-img{
        width: 70%;
        border-radius: 70%;
        margin: 10px auto;
    }
    .myname{
        color: black;
        color: #374151;
        font-size: 24px;
        font-weight: 500;
        /* background-color: antiquewhite; */
    }
    .rectangle{
        /* background-color: blueviolet; */
        width: 100px;
        height: 3px;
        margin: 5px;
        margin-top: 2px;
        border-radius: 20px;
    }
    .developer{
        color: black;
        margin: 20px;
        margin-top: 10px;
        font-size: larger;
    }
    .social-handle{
        color: black;
        background-color: white;
        width: 100%;
        height: 70px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .react-icons-home,.r-icon-home {
        vertical-align: middle;
        width: 25px; 
        height: 25px; 
        margin: 0;
        transition: transform 0.3s ease;
        margin: 0 -80px;
        text-decoration: none;
        color: inherit;
    }
    .react-icons-home:hover,.r-icon-home:hover{
        transform: scale(1.1);
        cursor: pointer;
        text-decoration: none;
        color: inherit;
    }
    .namaste{
        font-size: 80px;
        font-weight: 700;
        color: black;
    }
    .sub-head{
        color: black;
        font-size: 25px;
        font-weight:300;
        margin-top: -10px;
        /* background-color: rgb(237, 227, 246); */
        /* color: blueviolet; */
        padding: 2px 8px;
        border-radius: 4px;
    }
    .btn{
        padding: 10px;
        width: 140px;
        border: none;
        /* background-color: blueviolet; */
        color: white;
        border-radius: 50px;
        cursor: pointer;
        margin: 10px 0;
        font-weight: 700;
        transition: transform 0.3s ease;
    }
    .btn:hover{
        transform: scale(1.1);
    }
    .para{
        color: black;
        padding: auto;
        font-size: 18px;
        padding: 0;
        font-weight: 500;
        color: #374151;
        background-color: white;
        padding: 16px;
        margin: 4px;
        margin-top: 10px;
        border: 1px solid #e0e0e0;
        border-radius: 20px;
    }
    .footer-container{
        position: fixed;
    }
    .programming-box{
        margin: 14px 2px;
        margin-bottom: 40px;
        background-color: white;
        padding: 20px 20px;
        width: 90%;
        height: auto;
        /* box-shadow: 0 0 30px rgba(0, 0, 0, 0.1); */
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border: 1px solid #dddddd;
        border-radius: 30px;
        gap: 20px;
        background-color: #f4f4f4;
        border:none;
    }
}